/* Sortable header */

.th-sort {
  position: relative;
}

.th-btn {
  display: inline-flex;
  align-items: center;
  /*gap: .4rem;*/
  /*width: 100%;*/
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  font: inherit;
  text-transform: initial;
}

.sort-icon {
  opacity: 0;
  transition: opacity .15s ease-in-out;
  display: inline-block;
  width: 1em;
  margin-left: .25rem;
}

.th-sort:hover .sort-icon, .th-sorted .sort-icon {
  opacity: 1;
}

.sort-icon::after {
  content: "⇅";
}

.sort-icon.asc::after {
  content: "▲";
}

.sort-icon.desc::after {
  content: "▼";
}

.sort-icon.asc, .sort-icon.desc {
  opacity: 1;
}

#rule-summary div {
  display: inline-block;
  margin-right: 10px;
  min-width: 170px;
  padding-bottom: 3px;
}

