#preset-name {
  font-weight: 300;
  font-style: italic;
  /*white-space: nowrap;*/
}

.offcanvas {
  transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.js-transfer:hover .transfer-icon {
  visibility: visible !important;
}

th {
  padding: .5rem .75rem;
  text-align: left;
}

.row-amount.currency {
  text-align: end;
}

table {
  padding: 0;
}

tr.active {
  border: solid 2px var(--bs-info-border-subtle);
}

.list-group-columns {
  display: block;
  columns: 2;
  column-gap: 1rem;
}

.list-group-columns .list-group-item {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  width: auto;
}

@media (min-width: 768px) {
  .list-group-columns {
    columns: 2;
  }
}

@media (min-width: 992px) {
  .list-group-columns {
    columns: 3;
  }
}

.btn {
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8e8c84;
}

